<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="card-header">Restaurant Details</div>
        <div class="row">
          <div class="col-md-12">
            <strong>Restaurant Name:</strong>
            <i>{{info.name}}</i>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <strong>Restaurant Ownner:</strong>
            <i>{{info.restaurantName}}</i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>