<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card fp" *ngIf="!isEmailVerified">
        <div class="card-body">
          <div class="card-title text-center">
            <strong>Forget Password</strong>
          </div>
          <form [formGroup]="forgetPassword" (ngSubmit)="forgotPassword()">
            <div class="form-group">
              <input placeholder="Enter your email id" type="email" class="form-control" name="email" id="inputEmail" formControlName="email"
                required>
              <span class="help-block" *ngIf="forgetPassword.controls['email'].hasError('required') && forgetPassword.controls['email'].touched"
                style="color: red">Please enter the email</span>
              <span class="help-block" *ngIf="forgetPassword.controls['email'].hasError('email') && forgetPassword.controls['email'].touched"
                style="color: red">Please enter valid email</span>
            </div>
            <div class="form-group">
              <div class="text-center mt-3">
                <button type="submit" class="btn btn-info" [disabled]="!forgetPassword.valid">Verify Email</button>
                <button type="button" class="btn btn-danger">Cancel</button>
              </div>
            </div>
          </form>
          <div class="card-footer bg-blue-grey bg-darken-3">
            <div class="float-left white">
              <a (click)="onLogin()">Login</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card fp" *ngIf="isEmailVerified">
        <div class="card-body">
          <div class="card-title text-center">
            <strong>Forget Password</strong>
          </div>
          <form [formGroup]="otp" (ngSubmit)="varifyOtp()">
            <div class="form-group">
              <input placeholder="Enter your OTP" type="number" class="form-control" name="otp" id="otp" formControlName="otp" required>
              <span class="help-block" *ngIf="otp.controls['otp'].hasError('required') && otp.controls['otp'].touched" style="color: red">Please enter the otp</span>
              <span class="help-block" *ngIf="otp.controls['otp'].hasError('number') && otp.controls['otp'].touched" style="color: red">OTP should be a number</span>
            </div>
            <h6 *ngIf="count > 0" style="color:blue">OTP expires in {{counter | async}} seconds</h6>
            <h6 *ngIf="count <= 0" style="color:gold">OTP expired</h6>
            <button type="submit" class="btn btn-info" [disabled]="!otp.valid">Verify OTP</button>
            <div class="form-group" *ngIf="count <= 0">
              <div class="text-center">
                <button type="button" class="btn btn-danger" (click)="reset()">Back</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>